/* *{
    margin: 0px;
    padding: 0px;
} */

.container{
    width: 625px;
    background-color: beige;
    border: solid 2px white;
}
p{
    display: inline-block;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    width: 23%;
}
.users{
    border: solid 1px black;
    margin: 0px;
}
.main{
    width: 44%;
    TEXT-ALIGN: right;
    border-top: black 2px solid;
    padding-top: 20px;
}
h1{
    margin-bottom: 0px;
    text-align: left;
}
button{
    margin-top: 30px;
}
input{
    margin-bottom: 3px;
    margin-top: 3px;
}
.appendUsers{
    display: block;
    width: 98%;
}
td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    width: 23%;
    display: inline-block;
}
















/* p{
    display: inline-block;
}
input{
    display: block;
}
form,
h1{
    margin: 20px;
}
.users p{
    margin: 20px;
}
.appendUsers p{
    display: block;
}
.users{
    padding-right: 70px;
    border: solid 2px black;
}
td{
    display: inline-block;
    padding-right: 44px;
    width: 75px;
}
.user_container{
    margin: 20px;
}
.emails,
.contact{
    padding: 15px;
    width: 64px;
}
.newContact{
        padding-left: 60px;
}
.contact{
    padding-left: 55px;
} */